server:
  port: 9020

spring:
  cloud:
    gateway:
      discovery:
        locator:
          # true 开启以服务名称调用目标服务
          enabled: true
      routes:
         # 路由唯一标识
        - id: adv-oauth2
          # 目标服务地址
          # uri: http://localhost:8001
          # 目标微服务名称 lb://目标服务名
          uri: lb://adv-oauth2
          # 断言，路由条件
          predicates:
            # 匹配访问路由，以 /article开头的请求代理到
            # 访问 http://localhost:6001/article/api/article/1 代理到 http://localhost:8001/article/api/article/1
            - Path=/auth/**

        - id: adv-upms
          uri: lb://adv-upms
          predicates:
            - Path=/user/**
#          filters:
#            # 代理转发去掉路径， /article/** ，会将 每个 /article 在过滤器中截取掉
#            # - StripPrefix=1
#            # 开启限流
#            - name: RequestRateLimiter
#              args:
#                # 限制过滤器bean名称
#                key-resolver: '#{@uriKeyResolver}'
#                # 希望每个用户每秒执行多少个请求。令牌桶填充的速率
#                redis-rate-limiter.replenishRate: 2
#                # 允许用户在一秒种内完成最大请求数。令牌桶最多可以容纳的令牌数量 。如果设置为0将阻止所有请求
#                redis-rate-limiter.burstCapacity: 4
logging:
  level:
    com.alibaba.nacos.client.config.impl: WARN